/* pre,
code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
}

#generatedCode {
    height: 50%;
    background-color: rgb(247, 240, 228);
}

#output {
    height: 50%;
}

#grid-container {
    display: flex;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
}

main {
    margin: 0 auto;
}

table {
    width: 100%;
    height: 50%;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
} */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header {
    background-color: #00bcd4;
    width: 100%;
}
header h1 {
    color: #fff;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}
.appExercise{
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 20%;
    width: 30%;
    margin-left: 20px;
}
h2{
    color: #ef7a13;
    margin: 0 auto;
    line-height: 40px;
    text-align: left;
}
h3{
    color: #c713ef;
    margin: 0 auto;
    line-height: 20px;
    text-align: left;
}
p {
    color: #36280b;
    margin: 0 auto;
    padding: 0;
}

main {
    display: inline-flex;
    gap: 12px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background-color: lightgray;
}

.grid.error {
    border: 2px solid red;
}

.cell {
    width: 100px;
    height: 100px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
.cell:nth-child(3) {
    border-right: none;
}

img#tvImage,
img#bluedogImage,
img#busImage {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    height: 50px;
    width: 50px;
}
